* {
  font-family: "poppins", sans-serif;
  background-color: #000814;
  color: aliceblue;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #fca311;
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr td a {
  background-color: #fca311;
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

form p a,
button {
  background-color: #fca311;
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

td.id {
  color: #fca311;
}

.Add {
  background-color: #fca311;
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

label {
  margin-bottom: 10px;
}

input textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
}

form input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  background-color: #e5e5e5;
  color: rgb(53, 53, 53);
}

form button {
  border: none;
  background-color: #fca311;
  color: black;
  border-radius: 5px;
  padding: 10px 16px;
  margin-left: 10px;
}

form button:hover {
  background-color: #fca311;
  cursor: pointer;
}

.buttonParam {
  display: flex;
  flex-direction: row;
}
